/* Setting background image homepage */
.homeBody{
    background-image: linear-gradient(to right, #606060, #A0A0A0, #C0C0C0);
}
/* Text positioning homepage */
.text{
   text-align: center;
   margin-top: 20%;
}
/* parameters and styling for h1 home page */
.type{
    overflow: hidden;
    margin: 0 auto;
    font-size: 60px;
   width: 400px;
   border-right: solid black;
    animation: 
    typeIt 1.5s steps(30, end),
     look 0.5s step-end infinite;
 
}
/* H2 animation home page */
@keyframes typeIt{
    from {width: 0}
    to {width: 400px}
}
/* animation for cursor/border right for h2 home page */
@keyframes look{
   from { border-color: black}
    to {border-color: transparent}
}
/* href removing underline */
a{
    text-decoration: none;
    color: white;
}
/* Nav Bar styling ALL pages  */
.navBar{
    text-align: end;
    font-size: 20px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    color: white;
    background: black;
    opacity: .4;
    
}
.portfolioBody{
    background-image: url(../images/textPortPage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.contactBody{
    background-image: url(../images/contactImage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}





