/* Setting background image homepage */
.homeBody{
    background-image: linear-gradient(to right, #606060, #A0A0A0, #C0C0C0);
}
/* Text positioning homepage */
.text{
   text-align: center;
   margin-top: 20%;
}
/* parameters and styling for h1 home page */
.type{
    overflow: hidden;
    margin: 0 auto;
    font-size: 60px;
   width: 400px;
   border-right: solid black;
    animation: 
    typeIt 1.5s steps(30, end),
     look 0.5s step-end infinite;
 
}
/* H2 animation home page */
@keyframes typeIt{
    from {width: 0}
    to {width: 400px}
}
/* animation for cursor/border right for h2 home page */
@keyframes look{
   from { border-color: black}
    to {border-color: transparent}
}
/* href removing underline */
a{
    text-decoration: none;
    color: white;
}
/* Nav Bar styling ALL pages  */
.navBar{
    text-align: end;
    font-size: 20px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    color: white;
    background: black;
    opacity: .4;
    
}
/* Background for portfolio page */
.portfolioBody{
    background-image: url(../images/textPortPage.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    
}
/* styling for resume images on portfolio */
.rImg{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 10%;
    
}
/* setting image for logos portfolio pae */
.mm{
    background-image: url("../images/mmLogo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 10px black;
}
.well{
    background-image: url("../images/well.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 10px black;
    margin-top: 20px;   
}
/* hover enlarge resume images  */
.mm:hover{
    width: 110px;
    height: 110px;
}
.well:hover{
    width: 110px;
    height: 110px;
}
/* grid for port images */
.portGrid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border: solid;
}
/* background for the contact page */
.contactBody{
    background-image: url(../images/contactImage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}






